<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyecto_2_agenda_contactos_intento">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_2_Agenda_Contactos_intento">
        <activity
            android:name="com.example.proyecto_2_agenda_contactos_intento.ui.activities.NavDrawerActivity"
            android:exported="false"
            android:label="@string/title_activity_main_navigation_drawer"
            android:theme="@style/Theme.Proyecto_2_Agenda_Contactos_intento.NoActionBar" />
    </application>

</manifest>